---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Keepalive

on:
  workflow_call:
    secrets:
      app_id:
        description: "App ID of the application used to generate a token"
        required: true
      app_private_key:
        description: "Private key of the application used to generate a token"
        required: true

jobs:
  keepalive:
    name: Keep scheduled GitHub workflows alive
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "Generate GitHub App Token"
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: "${{ secrets.app_id }}"
          private-key: "${{ secrets.app_private_key }}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Keep scheduled GitHub workflows alive
        uses: gautamkrishnar/keepalive-workflow@2a8ae70f39b79fb50659d17ccc6f372f461813b2 # v2.0.10
        with:
          use_api: true
          gh_token: ${{ steps.app-token.outputs.token }}
          committer_username: repo-duster[bot]
          committer_email: repo-duster <87358111+repo-duster[bot]@users.noreply.github.com>
